@font-face {
    font-family: 'ChosunSm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'ChosunSm' ;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
p{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-clamp: 3;
    -webkit-box-orient: vertical;

    
    line-height: 1.2em;
    height: 5.9em;

}

.news-author{
    font-size: 12px;
}
.head-line{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    word-break: break-all;
    word-wrap: break-word;
}
.head-line svg{
    width:430px;
}
.menus{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top:1px solid #ebebeb;
    border-bottom: 4px double #000;
}
.menus button{
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover{
    background-color: #000000;
    color: white;
}
.news-img-size{
    max-width: 100%;
    max-height: 250px;
    display: block;
    margin: auto;
    margin-bottom: 1em;
    
}
#news-board{
    padding: 1em;
    border-bottom: 1px solid black;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}  
  }
/*모바일 버전*/
  @media screen and (max-width: 1025px) {
    .menus button{display: none;}
    #search-area{ width: 40vw;}

  }
/*pc 버전*/
  @media screen and (min-width: 1025px) {
    .sidenav {display: none;}
    .menubar {visibility: hidden;}
    #search-area{width: auto;}
  }

.menubar{
    border: none;
    background: none;
}
.menubar svg{
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
    margin-right: 15px;
}

.magnifier{
    border: none;
    background: none;
}
.magnifier svg{
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}

#search-area{
    display: inline-block;
    box-sizing: border-box;
    color:rgb(102,102,102);
    font-size: 11px;
    line-height: 16px;
    padding: 1px 40px 0px 10px;
    vertical-align: middle;
    
    height: 33px;
}

#search-submit{
    background-color: rgb(0, 0, 0);
    color:white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    line-height: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
    height: 33px;
    padding: 7px 9px 6px;
    margin-left: 1em;
   
}

.head-section{
    margin-top: 1em;
}

#search-display{
    float: left; 
    display: none;
   
}


nav{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

